{% extends 'base.html' %}

{% block content %}
<form action="/news/create" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            {{ form.title }}
            {{ form.content }}
            {{ form.numclick }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form.file1 }}
            {{ form.file2 }}
            {{ form.file3 }}
            <input type="submit" class="btn btn-primary" value="儲存">
        </div>
    </div>
</form>
<br />

{% endblock  %}