{% extends 'base.html' %}

{% block content %}

<form action="/todo/create" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            {{ form.title }}
        </div>
        <div class="col">
            <input type="submit" class="btn btn-primary" value="儲存">
        </div>
    </div>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>待辦事項</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for todo in object_list %}
        <tr>
            <td>{{ todo.title }}</td>
            <td>{{ todo.created }}</td>
            <td style="text-align:right;">
                <a href="{% url 'todo:update' todo.id %}" class="btn btn-success">修改</a>
                <a href="{% url 'todo:delete' todo.id %}" class="btn btn-danger">刪除</a>
                <a href="{% url 'todo:detail' todo.id %}" class="btn btn-info">明細</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock  %}